{% extends 'base.html'%}


{% block content %}

   <!-- Main content -->
    <section class="content">

      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <!--<li class="time-label">
                  <span class="bg-green">
                    01 Feb. 2019
                  </span>
            </li> -->
            {% for record in records %}
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-user bg-aqua"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{record.created_time}}</span>

                <h3 class="timeline-header"><a href="#">{{record.get_status_display}}</a> deploy by {{record.created_by}}</h3>

                <div class="timeline-body">
                  {{record.details}}
                </div>
              </div>
            </li>
            {% endfor%}
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      
    </section>
    <!-- /.content -->

{% endblock %}

{% block script %}
<script>
    
</script>
{% endblock %}
